// .home {

    .homeContent {
        background: linear-gradient(120deg, $color-1 50%, transparent 100%);
        // min-height: $minHeight;
        width: 100%;
        min-height: 480px;
        position: relative;
        overflow: hidden;
            margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
       &:after {
       content: '';

        position: absolute;
       height: 100%;
        width: inherit;
       background: url('../../media/app.png') no-repeat center/cover;
        z-index: -1;
       filter: brightness(30%);
      }
  
      .content { 
    
         margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top:30%;
        font-family: $font-1;
         text-align: center;
         align-items: center;
     
  
  
        h1 {
    
          font-size: 5rem;
          font-family: $font-3;
          color: $color-5;
          text-transform: uppercase;
          text-shadow: 3px 6px 2px $black;
          text-align:center;
          justify-content:center;
        }
        h2 {
          font-size: 2.5rem;
          padding: 1.5rem 0 7rem;
          color: $color-3;
          text-shadow: 1px 4px 1px $black;
          text-align:center;
        }
       
          
        
      }
    }
//   }

@media screen and (min-width: 400px) {

    
    .homeContent {
      margin: 0 !important;
      min-height: 850px;

    .content {

      left: 33.33%;
   
    }

 }

}


@media screen and (min-width: 700px) {

    
  .homeContent {
    margin: 0 !important;

  .content {


    top:40%;
    left:33%;

  }

}

}

@media screen and (min-width: 1400px) {
  .homeContent {
    margin: 0 !important;

  .content {



    left:40%;


  }

}

}