main {
    min-height: 850px;
max-height:100%;
    h3 {
        background-color:$color-1;
        color:$color-4;
        padding:5.5rem;
    }
    p {
        color: #fff;
      
        margin-left:1.2rem;
        margin-right:1.2rem;

    } 
}